html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.container {
    min-width: 320px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
}
