html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto Condensed', 'Arial', sans-serif;
    font-size: 100%;
    color: rgba(74,69,69,1);
}

a {
    color: rgba(74,69,69,1);

    transition: color 0.1s ease-in;
}

a:hover {
    color: rgba(249,153,153,1);
}

a:active {
    color: rgba(252,201,201,1);
    -webkit-tap-highlight-color: transparent;
}

.container {
    min-width: 320px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
}

.page-header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(249,153,153,1)), color-stop(rgba(253,225,225,1)), to(rgba(255, 255, 255, 1)));
    background-image: linear-gradient(to bottom, rgba(249,153,153,1), rgba(253,225,225,1), rgba(255, 255, 255, 1));
}

.page-main {
    background-color: rgba(255, 255, 255, 1);
}