@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  
  font-family: 'Muli', sans-serif;

  background: linear-gradient(#fff, #fff3f5, #ffc0cb);
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  position: relative;

  height: 80vh;
  margin: 10px;
  flex: 1;
  
  color: #fff;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;

  margin: 0;
  
  font-size: 24px;

  opacity: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}